*{
  border: 0px;
  margin: 0px;
  font-family: Apple Chancery, cursive;
}
.container{
  display: flex;
  align-items: center;
}
.container .main-logo h1{
  font-size: 50px;
  padding: 10px;
  height: 80px;
  background-color: rgb(112, 112, 112);
  color: white;
}
.nav-top{
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 30px;
  width: 79.2rem;
  justify-content: space-between;
  background-color: rgb(237, 227, 216);
  padding: 10px;
}
.nav-top .head-email a{
  margin: 0 20px;
  text-decoration: none;
  color: black;
}
.nav-top .head-link a{
  margin: 0 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
.nav-bottom{
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 30px;
  width: 79.2rem;
  justify-content: space-between;
  background-color:rgb(195, 190, 190);
  padding: 10px;
}
.nav-bottom .nav-links a{
margin: 0 20px;
text-decoration: none;
color: black;
}
.nav-bottom .nav-button{
  margin: 0 20px;
  margin-right: 30px;
  padding: 5px;
}
.nav-bottom .nav-button button{
  height: 30px;
  width: 100px;
  background-color: rgb(46, 52, 49);
  color: white;
}
.container2{
  position: relative;
  margin-left:41% ;
  margin-top: 8%;
}
.container2 h2{
  font-size: 50px;
  margin-left: 10rem;
  word-spacing: 10px;
}
.container2 h1{
  font-size: 80px;
  word-spacing: 20px;
}
.container2 span{
  margin-left: 10rem;
}
.container2 button{
  font-size: 20px;
  background-color: rgb(35, 43, 39);
  padding: 10px;
  color: white;
  margin-left: 20rem;
  margin-top: 30px;
}